html {
  background-image: url("images/running-water.jpg");
  background-color: #30313B;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  line-height: 25px;
  overflow-x: hidden;
  display: block;
}

body {
  display: block;
  padding: 0;
  margin: 0;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #fff;
  background-color: #111;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 40px;
  z-index: 10;
  display: block;
}
.header .container {
  position: relative;
  z-index: 1;
}

.header .header-nav {
  float: right;
  display: inline-block;
  margin-top: 20px;
  margin: 20px 0;
}

.header-logo {
  height: 50px;
  margin: 0 0 0 0;
  position: relative;
  display: inline-block;
}

.header-logo img {
  height: 100%;
  margin: 0 0 0 50px;
  top: 5px;
  position: absolute;
  background-color: #6E3632;
  border-radius: 20px;
}

.header-logo img {
  border-style: none;
  vertical-align: middle;
}

.header-nav a {
  color: #ffffff;
  opacity: .8;
  vertical-align: top;
  margin-right: 20px;
  display: inline-block;
  letter-spacing: .05rem;
  font-size: 1.1em;
  text-decoration: none;
  margin-right: 50px;
}
.header-nav a:hover {
  color: #989BBA;
  letter-spacing: 1rem;
  font-size: 1.3em;
  transition: ease all .5s;
}

.main-title {
  height: 100vh;
  width: 100%;
  display: inline-table;
  position: absolute;
  top: 0;
  left: 0;
}

h1, h3{
  font-family: 'Hind Siliguri', sans-serif;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  text-shadow: 5px 2px 40px #6E3632, -5px -2px 40px #30313B;
}

h1 {
  font-size: 50px;
  padding-top: 300px;
}

h3 {
  margin-top: 20px;
}

.gallery-parent {
  position: fixed;
  width: 100%;
  bottom: 40px;
  z-index: 10;
  margin: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.gallery-pics .images {
  margin: 10px;
  height: 150px;
  width: 200px;
}
@media (max-width: 1000px) {
  .gallery-pics .images  {
    margin: 8px;
    height: 125px;
    width: 125px;
    transition: ease all .5s;
  }
}
@media (max-width: 600px) {
  .gallery-pics .images  {
    margin: 5px;
    height: 65px;
    width: 65px;
    transition: ease all .5s;
  }
}
