html {
  background-color: #30313B;
  box-sizing: border-box;
  line-height: 25px;
  overflow-x: hidden;
  display: block;
}

body {
  display: block;
  padding: 0;
  margin: 0;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #fff;
  background-color: #111;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  overflow: hidden;
}

.header {

}
.header .container {
  position: relative;
  z-index: 1;
}

.header .header-nav {
  float: right;
  display: inline-block;
  margin-top: 20px;
  margin: 20px 0;
}

.header-logo {
  height: 50px;
  margin: 0 0 0 0;
  position: relative;
  display: inline-block;
}

.header-logo img {
  height: 100%;
  margin: 0 0 0 0;
  top: 5px;
  position: absolute;
}

.header-nav a {
  color: #ffffff;
  vertical-align: top;
  margin-right: 20px;
  display: inline-block;
  letter-spacing: .05rem;
  font-size: 1.1em;
  text-decoration: none;
}
.header-nav a:hover {
  color: #989BBA;
  letter-spacing: 1rem;
  font-size: 1.3em;
  transition: ease all .5s;
}
