html {
  background-image: url("images/running-water.jpg");
  background-color: #111;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  line-height: 25px;
  overflow-x: hidden;
  display: block;
}

body {
  display: block;
  padding: 0;
  margin: 0;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #fff;
  background-color: #111;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 40px;
  z-index: 10;
  display: block;
}
.header .container {
  position: relative;
  z-index: 1;
}

.header .header-nav {
  float: right;
  display: inline-block;
  margin-top: 20px;
  margin: 20px 0;
}

.header-logo {
  height: 50px;
  margin: 0 0 0 0;
  position: relative;
  display: inline-block;
}

.header-logo img {
  height: 100%;
  margin: 0 0 0 50px;
  top: 5px;
  position: absolute;
  background-color: #6E3632;
  border-radius: 20px;
}

.header-logo img {
  border-style: none;
  vertical-align: middle;
}
.header-logo img:hover {
    transform: scale(1.5);
    box-shadow: 5px 2px 40px #989BBA, -5px -2px 40px #30313B;
    opacity: 1;
    transition: ease all 1s;
}

.header-nav a {
  color: #ffffff;
  opacity: .8;
  vertical-align: top;
  margin-right: 20px;
  display: inline-block;
  letter-spacing: .05rem;
  font-size: 1.1em;
  text-decoration: none;
  margin-right: 50px;
}
@media (max-width: 750px) {
  .header-nav a {
    font-size: 1rem;
    margin: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    transition: ease all .5s;
  }
}
.header-nav a:hover {
  color: #989BBA;
  letter-spacing: .6rem;
  font-size: 1.3em;
  transition: ease all .5s;
}
#social:hover {
  color: #C9463D;
  transform: scale(1.5);
}

.main-title {
  height: 100vh;
  width: 100%;
  display: inline-table;
  position: absolute;
  top: 0;
  left: 0;
}

h1, h3{
  font-family: 'Hind Siliguri', sans-serif;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  text-shadow: 5px 2px 40px #6E3632, -5px -2px 40px #30313B;
}

h1 {
  font-size: 65px;
  padding-top: 300px;
}
@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
    line-height: 1.5;
    transition: ease all .5s;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 1.25rem;
    transition: ease all .5s;
  }
}

h3 {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 30px;
}
h3:hover {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
@media (max-width: 800px) {
  h3 {
    font-size: .95rem;
    line-height: 1.1;
    transition: ease all .5s;
  }
}
@media (max-width: 600px) {
  h3 {
    font-size: .75rem;
    transition: ease all .5s;
  }
}

.gallery-parent {
  position: fixed;
  width: 100%;
  bottom: 40px;
  z-index: 10;
  margin: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.gallery-pics .images {
  margin: 5px;
  height: 200px;
  width: 244px;
  opacity: .9;
  cursor: pointer;
  border-radius: 20px;
}
.gallery-pics .images:hover {
  /* transform: scale(1.5); */
  z-index: 99;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  box-shadow: 5px 2px 40px #6E3632, -5px -2px 40px #30313B;
  opacity: 1;
  transition: ease all 1s;
}
@media (max-width: 1215px) {
  .gallery-pics .images  {
    margin: 8px;
    height: 190px;
    width: 214px;
    transition: ease all 1s;
  }
}
@media (max-width: 1000px) {
  .gallery-pics .images  {
    margin: 8px;
    height: 125px;
    width: 150px;
    transition: ease all .5s;
  }
}
@media (max-width: 600px) {
  .gallery-pics .images  {
    margin: 5px;
    height: 65px;
    width: 85px;
    transition: ease all .5s;
  }
}

/* For iPhoneX */
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
  .main-title h1 {
    padding-top: 75%;
  }
}
